#search-form {
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

#search-sido,
#search-gugun,
#search-content-id,
#search-keyword,
#btn-search {
	margin: 5px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
}

.navbar-brand>img {
	width: 30px;
	height: 30px;
}